@model IEnumerable<MasrafTakipMVC.Models.HarcamaDetay>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Harcama Detayı Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarcamaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarcamaTipiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutar)
            </th>
            <th>
                İşlemler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HarcamaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HarcamaTipleri.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutar)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    <a asp-action="Edit" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
