@model IEnumerable<MasrafTakipMVC.Models.Personel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1>Personeller</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Personel Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*   <th>
            @Html.DisplayNameFor(model => model.Sifre)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gorev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DogumTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.Sifre)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gorev)
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    <a asp-action="Edit" class="btn btn-danger btn-sm" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
